.square {
  margin: 0.02em;
  height: var(--square-size);
  width: var(--square-size);
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: var(--square-font-size);
}

.clicked_square {
  background-color: var(--w98-lightest-gray);
  box-shadow: none;
  border-color: var(--w98-light-gray);
  border-style: dashed;
}

.clicked_square.nearbys_0 {
  color: white;
}
.clicked_square.nearbys_1 {
  color: #0000aa;
}
.clicked_square.nearbys_2 {
  color: #008a45;
}
.clicked_square.nearbys_3 {
  color: #ff1300;
}
.clicked_square.nearbys_4 {
  color: #000083;
}
.clicked_square.nearbys_5 {
  color: #8a2d2d;
}
.clicked_square.nearbys_6 {
  color: #008080;
}
.clicked_square.nearbys_7 {
  color: #000000;
}
.clicked_square.nearbys_8 {
  color: #828282;
}
.first_ant {
  background-color: #ff1300;
}
