.dropdown {
  position: absolute;
  z-index: 5;
  top: 30px;
  left: 2px;
  background-color: white;
  border: 1px solid black;
  width: fit-content;
  min-width: 130px;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
}

.dropdown_menu_section {
  border-bottom: 1px solid black;
}

.dropdown_menu_section > li {
  padding: .5em;
  padding-left: 1.5em;
}

.dropdown_menu_section > li:first-letter {
  text-decoration: underline;
}

.dropdown_menu_section > li:hover {
  cursor: pointer;
  background-color: #0000aa;
  color: white;
}

.selected {
  padding-left: 5px !important;
}

.selected:before {
  content:'\2713';
  display:inline-block;
  margin-right: 5px;
  vertical-align: top;
  text-align: center;
  font-weight: bold;
}