.controls {
    height: 5em;
    margin-bottom: 5px;
    box-shadow: var(--w98-box-shadow-dip);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.controls__status {
    display: none;
}