.bg__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid var(--w98-dk-gray);
    border-bottom: 1px solid var(--w98-darkest-gray);
    box-shadow: inset 1px 1px var(--w98-lightest-gray);
    background-color: var(--w98-bg-gray);
    height: 2.5em;
    font-size: var(--menu-font-size);
    text-align: left;
    z-index: 100;
}

.bg__footer button {
    margin: 2px;
    font-family: var(--w98-font-family-default);
    cursor: pointer;
}

.startButton {
    position: relative;
    padding-left: 1.5em;
    font-size: 1.5em;
    font-weight: bolder;
}

.startButton img {
    position: absolute;
    bottom: .2em;
    left: .2em;
    top: .2em;
    height: .9em;
}

.gameWindowButton {
    font-weight: bold;
    font-size: 1.25em;
    letter-spacing: var(--w98-letterspace-close);
    padding: .2em 1em;
}