.gameWrapper {
  width: fit-content;
  margin: 2px;
  border: 3px solid white;
  border-right-color: var(--w98-dk-gray);
  border-bottom-color: var(--w98-dk-gray);
  background-color: var(--w98-light-gray);
  padding: 5px;
}

.boardWrapper {
  min-width: fit-content;
  box-shadow: var(--w98-box-shadow-dip);
  padding: 2px;
  font-size: var(--square-font-size);
  width: var(--board-size);
  height: var(--board-size);
}

.board_row {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}