.gameWrapper {
  width: fit-content;
  margin: 2px;
  border: 3px solid white;
  border-right-color: var(--w98-dk-gray);
  border-bottom-color: var(--w98-dk-gray);
  background-color: var(--w98-light-gray);
  padding: 5px;
}

.boardWrapper {
  margin: 1px;
  min-width: fit-content;
  box-shadow: inset 2px 2px var(--w98-dk-gray), inset -2px -2px white;
  padding: 2px;
  font-size: var(--square-font-size);
  width: var(--board-size);
  height: var(--board-size);
}
