.optionButton__wrapper {
  position: relative;
  margin-top: 2px;
  margin-left: 2px;
}

.optionButton {
  align-self: flex-start;
  position: relative;
  z-index: 4;
  border: 1px solid transparent;
  border-bottom: none;
  box-shadow: none;
  width: 4em;
  background-color: transparent;
  line-height: 1.5em;
  font-size: var(--w98-font-size);
  text-align: center;
  cursor: pointer;
}

.optionButton:first-letter {
  text-decoration: underline;
}

.optionButton.optionButton--clicked {
  border-color: black;
  box-shadow: none;
  background-color: #0000aa;
  background-image: none;
  color: white;
}
