.tooltip {
    position: relative;
    display: inline-block;
    padding: 0 .25em;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.tooltip.--emailCopied {
    font-weight: normal;
    text-decoration: none;
    cursor: default;
}

.tooltip .tooltip__text {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 0;
    right: 0;
    margin-left: -5em;
    margin-right: -5em;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltip__text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #555 transparent;
}

.tooltip:hover .tooltip__text,
.tooltip:focus .tooltip__text {
    visibility: visible;
    opacity: 1;
}