:root {
    --w98-lightest-gray: #e0e0e0;
    --w98-light-gray: #c3c7cb;
    --w98-dk-gray: #868a8e;
    --w98-darkest-gray: #4e4e4e;
    --w98-bg-gray: #c0c0c0;
    --w98-bluescreen-blue: #0000aa;
    --w98-font-size: 12px;
    --w98-font-family-close: 'px sans nouveaux', sans-serif;
    --w98-letterspace-close: -.025em;
    --w98-font-family-default: Arial, Helvetica, sans-serif;
    --w98-letterspace-default: .025em;
    --w98-box-shadow: inset 1px 1px var(--w98-lightest-gray), inset -1px -1px var(--w98-light-gray);
    --w98-box-shadow-dip: inset 2px 2px var(--w98-dk-gray), inset -2px -2px white;
    --w98-border: 1px solid;
    --w98-border-color: var(--w98-lightest-gray) var(--w98-dk-gray) var(--w98-dk-gray) var(--w98-lightest-gray);
    --w98-card-padding: 3px 2px 2px 3px;
}

body {
    background-color: #007f80;
    letter-spacing: var(--w98-letterspace-default);
    font-family: var(--w98-font-family-default);
    font-size: var(--w98-font-size);
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

button {
    font-size: var(--w98-font-size);
    border: var(--w98-border);
    border-color: var(--w98-border-color);
    box-shadow: inset 1px 1px var(--w98-lightest-gray), 1px 0 #000, 0 1px #000, 1px 1px #000;
    background-color: var(--w98-bg-gray);
    font-family: var(--w98-font-family-default);
    letter-spacing: -.05em;
}

.button--focus {
    border-color: black transparent transparent black;
    box-shadow: inset 1px 1px var(--w98-dk-gray);
    background: repeating-conic-gradient(var(--w98-lightest-gray) 0% 25%, var(--w98-bg-gray) 0% 50%);
    background-size: 2px 2px;
}