.board_controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.board {
    margin: 10px auto;
    width: fit-content;
}

.board_row {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}