.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 -1em;
    border: var(--w98-border);
    border-color: var(--w98-border-color);
    box-shadow: inset 1px 1px white;
    background-color: var(--w98-light-gray);
    padding: var(--w98-card-padding);
}

.modal:focus {
    border-color: black;
    border-style: dotted;
}

#modal__title {
    margin-left: 1em;
    margin-right: 5em;
    line-height: 2;
}

.modal__contentWrapper {
    box-shadow: var(--w98-box-shadow-dip);
    padding: 2px;
    margin: 2px;
}

.modal__text {
    background-color: white;
    padding: 1em;
}

.modal__text h2 {
    font-size: 1.25em;
    font-weight: bold;
}

.modal__text p {
    padding: .25em 0;
}

.modal__button {
    align-self: center;
    margin: .1em;
    padding: 0;
    font-size: 1.25em;
}

.modal__button span {
    display: inline-block;
    margin: .25em;
    border: 1px dotted black;
    border-radius: 2px;
    padding: .25em 1.75em;
}