.faceButton {
    border-color: var(--w98-lightest-gray) var(--w98-darkest-gray) var(--w98-darkest-gray) var(--w98-lightest-gray);
    width: 2.8rem;
    height: 2.8rem;
    padding: 0;
    line-height: 1.34;
    font-size: 2.8em;
    cursor: pointer;
}