.calcScreen {
  margin: 0 2em;
  height: fit-content;
  width: fit-content;
  border-top: 1px solid var(--w98-dk-gray);
  border-left: 1px solid var(--w98-dk-gray);
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-content: stretch;
}

.digit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
}

.digit__half {
  margin: .05em;
  width: .9em;
  height: .9em;
  border: .4em solid #ff0000e0;
  position: relative;
}

.digit__half:before,
.digit__half:after {
  content: "";
  position: absolute;
  top: .4em;
  left: -.76em;
  width: 2.4em;
  height: 0.1em;
  background-color: #000000d5;
  z-index: 2;
}

.digit__half:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.digit__half:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.digit--0 .digit__top {
  border-bottom-color: #ff00003f;
}

.digit--0 .digit__bottom,
.digit--4 .digit__top {
  border-top-color: #ff00003f;
}
.digit--1 .digit__half, .digit--7 .digit__bottom {
  border-color: #ff00003f;
  border-right-color: #ff0000e0;
}

.digit--2 .digit__top,
.digit--5 .digit__bottom,
.digit--3 .digit__half,
.digit--9 .digit__bottom {
  border-left-color: #ff00003f;
}

.digit--2 .digit__bottom,
.digit--5 .digit__top,
.digit--6 .digit__top {
  border-right-color: #ff00003f;
}

.digit--7 .digit__top, .digit--4 .digit__bottom {
  border-left-color: #ff00003f;
  border-bottom-color: #ff00003f;
}

.digit__top {
  margin-bottom: 0px;
}