.main_window {
    box-shadow: inset 1px 1px white;
    background-color: #C3C7CB;
    display: flex;
    flex-direction: column;
}

.beginner {
    margin: 10% auto;
}

.intermediate {
    margin: 2% auto;
}

.expert {
    margin: 5px auto;
}